
html {
   scroll-behavior: smooth;
   transition: scroll 2s ease-in-out;
   font-size: 1rem;
}

body {
   background-color: rgb(250, 250, 250);
   color: black;

   
}

h2{
   text-align: center;
   font-family: cursive;
   font-size: 2.5rem;
}
p{
   font-weight: norm;
}

h1 {
   text-align: left;
   font-size: 3.5rem;
   color: rgb(25, 6, 73);
   font-family: "Goudy Bookletter 1911", sans-serif;
   transition: transform 2s;
   margin-left: 40vh;
   margin-top: 10vh;
   font-weight: bolder;

}

.Header{
   font-weight: bolder;
   font-size: 1.5rem;
   margin-top: -1rem;
   margin-left: 40vh;

}
button {
   font-family: monospace;
   background-color: linear-gradient(to right, #87CEEB, #1E90FF);;
   border: none;
   border-radius: 8px;
   width: 100px;
   height: 45px;
   transition: .3s;
   font-size: 0.7rem;
 }
 
button:hover {
   background-color: #3b82f6;
   box-shadow: 0 0 0 5px #3b83f65f;
   color: #fff;
}
.Button{
   display: flex;
   flex-direction: row;
   gap: 2rem;
}
Button > a{
   text-decoration: none;
   color: black;
   background-color: linear-gradient(to right, #87CEEB, #1E90FF);
}


/* card Style */
.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.card {
   background-color: white;
   border-radius: 4%;
   box-shadow: 0 0 0 5px rgb(81, 43, 212);
   padding: 1rem;
   margin: 1rem;
   transition: .3s;
   width: 300px;
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-family: monospace;
   font-size: 1.2rem;
   font-weight: bold;
   color: black;
   text-decoration: none;
}
.container:hover .card {
   box-shadow: 0 0 0 6px rgb(81, 43, 212);
   transform: scale(1.1);
   transition: .3s;
}

.card::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
   border-radius: 10px;
   pointer-events: none;
   z-index: 1;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}

.container:hover .card::before {
   opacity: 1;
}
.cardContent{
   color: blue;
}
.PageImage{
   display: flex;
   margin-top: 40vh;
   margin-left: 40vh;
   gap: 20rem;
}
.ImageContent{
   display: flex;
   margin-left: 41vh;
   margin-top: 5vh;
   gap: 8rem;
   font-size: 1.2rem;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 1.2px;
   margin-bottom: 10rem;
}
div > strong{
   font-size: 1.5rem;
   font-weight: bolder;
   color: rgb(25, 6, 73);
}


.infobar{
   border: 1px solid linear-gradient(to right, #87CEEB, #1E90FF);
   background: linear-gradient(to right, #87CEEB, #1E90FF);
   border-radius: 25px;
   display: flex;
   gap: 2rem;
   margin-left: 50vh;
   margin-right: 50vh;
   margin-top: 10vh;
   margin-bottom: 10vh;
   padding: 2rem;
   padding-top: 0rem;
   font-size: 1.2rem;
}
.infobar  button{
   margin-top: 3rem;
   width: 200px;
   font-weight: bold;
}
.infobar > p:first-child{
   font-size: 2.4rem;
   font-weight: bold;
}
.infobar > p:last-child{
   font-size: 1.3rem;
   font-weight: bold;
   padding-top: 1rem;
}
/* Entwicklungs Umgebungen */
.DevTools{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 12rem;
}
.card {
   width: 190px;
   height: 254px;
   background: #3405a3;
   border-radius: 15px;
   box-shadow: 1px 5px 60px 0px #100a886b;
   display: flex;

  }
  
  .card .card-border-top {
   width: 60%;
   height: 3%;
   background: #6b64f3;
   margin: auto;
   border-radius: 0px 0px 15px 15px;
  }
  
  .card span {
   font-weight: 600;
   color: white;
   text-align: center;
   display: block;
   padding-top: 10px;
   font-size: 16px;
  }
  
  .card .job {
   font-weight: 400;
   color: white;
   display: block;
   text-align: center;
   padding-top: 3px;
   font-size: 12px;
  }
  
  .card img {
   width: 70px;
   height: 80px;
   background: white;
   border-radius: 15px;
   margin: auto;
   margin-top: 25px;
   padding: 1rem;
  }
  
  .card button {
   padding: 8px 25px;
   display: block;
   margin: auto;
   border-radius: 8px;
   border: none;
   margin-top: 30px;
   background: #6b64f3;
   color: white;
   font-weight: 600;
  }
  
  .card button:hover {
   background: #534bf3;
  }
.card:hover {
   transform: scale(1.1);
   transition: .3s;
}
.MarginHeader{
   margin: 0rem;
   margin-bottom: 10vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.NetCoreSection{
   .card {
      width: 290px;
      height: 154px;
      border-radius: 20px;
      background: #f5f5f5;
      position: relative;
      padding: 1.8rem;
      border: 2px solid #c3c6ce;
      transition: 0.5s ease-out;
      overflow: visible;
   }
   
   .card-details {
      color: black;
      height: 100%;
      display: grid;
      place-content: center;
   }
   
   .text-body {
      color: black;
      font-size: 15px;
      font-family: cursive;
   }
   
   .text-title {
      font-size: 1.5em;
      font-weight: bold;
      padding-top: 0.3rem;
   }
   
   /* Header styles */

   

   
   
   /* Section styles */
   .NetCoreSection {
      font-weight: bold;
      font-size: 1.4rem;
   }
   
   /* First Block styles */
   .FirstBlock {
      border: blue solid 3px;
      border-radius: 2%;
      margin: 0 80rem 0 20rem;
      padding: 10px;
   }
   
   /* Card hover effect */
   .card:hover {
      border-color: #008bf8;
      box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
      transform: scale(1.2);
   }
   
   /* Responsive design */
   .AlignBoxes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
   }
   
   /* General link styles */
   a {
      text-decoration: none;
      color: black;
   }
   
   /* Specific card styles for different sections */
   #Build .text-title {
      color: #008bf8;
   }
   
   #MobileDesktop .text-title {
      color: #d600aa;
   }
   
   #Cloud .text-title {
      color: #08ccab;
   }
   
   #Microservices .text-title {
      color: #0011ff;
   }
   
}
nav{
   display: flex;
   justify-content: center;
   align-items: center;
   
}